<ng-template appPlaceholder></ng-template>
<div class="container">
  <!-- <div class="alert alert-danger" *ngIf="error">
    <p>{{error}}</p>
  </div> -->
  <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
  
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form #authForm="ngForm" (ngSubmit)="submitForm(authForm)" *ngIf="!isLoading">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel name="email" required email>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password" required minlength="6">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">{{isLoginMode?'Login':'Sign Up'}}</button> | 
      <button type="button" class="btn btn-primary" (click)="onSwitchMode()">{{isLoginMode?'Switch to Sign Up':'Switch to Login'}}</button>
    </form>
</div>